{{- if .Values.uploader.enabled }}

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.uploader.name }}-cm
data:
  {{- if .Values.global.environment.dev.enabled }}
  REDIS_URL: "redis://{{ .Values.redis.service.name }}:{{ .Values.redis.service.port }}"
  {{- else }}
  REDIS_URL: {{ .Values.global.redis_url | quote }}
  {{- end }}
  {{- if .Values.global.environment.shared.redis_key_prefix }}
  REDIS_KEY_PREFIX: {{ .Values.global.environment.shared.redis_key_prefix | quote }}
  {{- end }}
  {{- if .Values.global.environment.shared.redis_max_buffer_size_sec }}
  REDIS_MAX_BUFFER_SIZE_SEC: {{ .Values.global.environment.shared.redis_max_buffer_size_sec | quote }}
  {{- end }}
  {{- if .Values.global.environment.shared.grace_period_seconds }}
  GRACE_PERIOD_SEC: {{ .Values.global.environment.shared.grace_period_seconds | quote }}
  {{- end }}
  {{- if .Values.global.environment.shared.window_resolution_seconds }}
  WINDOW_RESOLUTION_SEC: {{ .Values.global.environment.shared.window_resolution_seconds | quote }}
  {{- end }}
  {{- if .Values.uploader.env.digiusher_k8s_api_url }}
  K8S_API_URL: {{ .Values.uploader.env.digiusher_k8s_api_url | quote }}
  {{- end }}

{{- end }}